@page
@model MyHomeWebsite.Pages.MyWorkExperience.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WorkExperience</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkExperience.experience)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkExperience.experience)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkExperience.Responsibility)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkExperience.Responsibility)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkExperience.SkillGained)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkExperience.SkillGained)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.WorkExperience.ID">Edit</a> |
    <a  href ="/myworkexperience/">Back to List</a>
</div>
